﻿@model WorkWithCSV.WebApp.Models.Home.HomeModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>ParentId</td>
            </tr>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.ParentId</td>
                    <td>
                        @using (Html.BeginForm("Remove", "Home", new { id = category.Id }, FormMethod.Post, true, null))
                        {
                            @Html.ActionLink("Remove", "Remove", "Home", null, new { onclick = "onLinkClick(event)" })
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts
    {
    <script>

        function onLinkClick(e) {
            e.preventDefault();
            e.stopPropagation();

            if (confirm("Are you really want to remove the category?")) {
                e.target.parentNode.submit();
            }

            return false;
        }

    </script>

}
