﻿@model WorkWithCSV.WebApp.Models.Tree.SeededCategories;


@if (Model.Categories.Where(s => s.ParentId == Model.Seed).Any())
{
    <ul>
        @foreach (var node in Model.Categories)
        {
            if (node.ParentId == Model.Seed)
            {
                var inner = new WorkWithCSV.WebApp.Models.Tree.SeededCategories { Seed = node.Id, Categories = Model.Categories };


        <li>

            @node.Name

            @using (Html.BeginForm("Remove", "Tree", new { id = node.Id }, FormMethod.Post, true, null))
            {
                @Html.ActionLink("Edit", "Edit", "Tree", new { id = node.Id })
                <text> | </text>
                @Html.ActionLink("Delete", "Remove", "Tree", null, new { onclick = "onLinkClick(event)" })
            }

            @Html.Partial("_TreeCategories", inner)

        </li>
            }
        }
    </ul>
}
